<div class="list-items">
  <mat-list>
    <ng-container *ngFor="let item of items">
      <mat-list-item>
        <mat-checkbox [checked]="item.status === 'completed'" (change)="checkItem(item.id, $event.checked)">
          {{item.title}}
        </mat-checkbox>
        <div class="actions">
          <button mat-icon-button color="primary" (click)="removeItem(item.id)">
            <mat-icon aria-label="Delete task">delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
