<mat-list>
  <mat-list-item *ngFor="let item of items">
    <mat-checkbox [checked]="item.status === 'completed'" (change)="itemChecked(item.id, $event.checked)">
      {{item.title}}
    </mat-checkbox>
    <div class="actions">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Edit task">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Delete task">delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
